* {
    border: 1px solid black;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 1.5rem;
    max-width: 800px;
}

.name {
    font-size: 5rem;
}

footer {
    display: flex;
}

/* header > *, */
footer > * {
    flex: 1;
}